header {
  background: rgb(191, 209, 188);
}

body {
  background-color: rgb(218, 216, 216);
}
 
//div{
//  border:1px solid black;
//}

h1{
  background-color: white;
  font-family:"Cormorant Garamond";
  font-weight: bold;
  color: rgb(35, 185, 185);
}

p{
  font-family:"Cormorant Garamond";
  font-weight: bold;
}

.h3 { 
  position: relative;
  left: 0; 
  text-align: left;
  margin-top:30px;
  background-color: white;
  font-family:"Cormorant Garamond";
  font-weight: bold;
  color: rgb(35, 185, 185);
}

h4{
  padding: 20px;
  background-color: white;
}  

  @media(min-width: 480px) {
    .navbar-brand img {
      width: 30px;
      height: 30px;
    }
  }

  @media(min-width: 768px) {
    .navbar-brand img {
      width: 40px;
      height: 40px;
    }
  }

@media(min-width: 992px) {
    .navbar-brand img {
      width: 50px;
      height: 50px;
    }
  }

@media (min-width: 1200px) {
  .navbar-brand img {
    width: 60px;
    height: 60px;

  }
}

.h-divider{
  height:1px;
  border-top:5px solid gray;
  background-color: white ;
  background: white ;
 }

.viz .comp{
  padding:  10px 10px 10px 10px;
}

.mini-box {
  background-color: white ;
  border-bottom: white solid;
  border-top: white solid;
  background: white solid;
  border-left: rgb(218, 216, 216);
  border-right: rgb(218, 216, 216);
  margin-left:50px;
  margin-top:1rem;
  padding-top: 1rem;
}

div a img:hover{
color: white; 
padding: 5px 11px; 
border: 2px solid #5a827f;
}

table tr:nth-child(even) {
  background: #E0E0E0;
}

.img-fluid {
  width: 100%;
}
